@model Noteify.Web.ViewModels.NoteViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Zurück zur Liste</a>
</div>
